<!DOCTYPE html>
<html lang="ru" >
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache">
<head>
  <meta charset="UTF-8">
  <title>The dungeon</title>
      <link rel="stylesheet" href="css/dungeon.css">
      <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="interface">
  <img style="display:none" class="pause-cover" src="img/dungeon/gui/pause.png" alt="">
  <img style="display:none" class="dead-cover" src="img/dungeon/tetedemort.png" alt="">
  <div class="pause">
    <img src="img/dungeon/gui/btn_pause.png" alt="">
  </div>
  <div class="control left">
    <img src="img/dungeon/gui/btn_left.png" alt="">
  </div>
  <div class="control right">
    <img src="img/dungeon/gui/btn_right.png" alt="">
  </div>
  <div class="control jump">
    <img src="img/dungeon/gui/btn_up.png" alt="">
  </div>
  <div class="start">
    <img class="btn" src="img/dungeon/gui/btn_start.png" alt="">
    <img class="tower" src="img/dungeon/gui/tower.png" alt="">
    <img class="clouds" src="img/dungeon/gui/clouds.png" alt="">
  </div>

</div>
<script src="js/jquery-3.2.1.min.js"></script>
  <script  src="js/dungeon.js"></script>
  <script src='js/webaudiox.js'></script>
</body>

</html>
