<!DOCTYPE html>
<html lang="ru" >
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-cache">
<head>
  <meta charset="UTF-8">
  <title>Разбирайка</title>


      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">

</head>

<body>

  <p id="offscreen-text" class="offscreen-text"></p>
<p id="text" class="text"></p>

<svg id="svg">
</svg>

  <input type="text" class="input" id="input" />
  <div class="statistic">
    <p class="list1">Разобранные</p>
    <p class="list2">предложения</p>
    <p class="user_stat1">Статистика</p>
    <p class="user_stat2">Пользователя</p>
    <p class="apps1">Наши</p>
    <p class="apps2">приложения</p>
    <svg id="arrow1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
      <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
    </svg>
    <svg id="arrow2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
      <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
    </svg>
    <svg id="arrow3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
      <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
      <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
    </svg>
    <div class="s-item stat-back"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></div>
    <div class="string-block">
    </div>
    <div class="block-user-statistic">

      <div class="count_analised_words">Разобранных предложений: <span>0</span></div>
      <div class="count_errors">Всего ошибок: <span>0</span></div>
      <div class="mean_count_errors">Среднее количество ошибок: <span>0</span></div>
    </div>
    <div class="other_game">
      <a onclick="javascript:alert(test.openlink('https://play.google.com/store/apps/details?id=com.elmsoftware.madtaxi.qpmdjm'));" class="my_game">
        <img src="img/madtaxi.png" alt="MadTaxi">
      </a>
      <a onclick="javascript:alert(test.openlink('https://play.google.com/store/apps/details?id=com.elmsoftware.madtaxi.qpmdjm'));" class="my_game">
        <img src="img/madtaxi.png" alt="MadTaxi">
      </a>
      <a onclick="javascript:alert(test.openlink('https://play.google.com/store/apps/details?id=com.elmsoftware.madtaxi.qpmdjm'));" class="my_game">
        <img src="img/madtaxi.png" alt="MadTaxi">
      </a>
      <!-- <a href="" class="my_game"></a>
      <a href="" class="my_game"></a>
      <a href="" class="my_game"></a> -->
    </div>
  </div>
  <div class="interface">
    <div class="i-item start"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
    <div class="i-item stat"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></div>
    <div class="i-item next"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></div>
    <div class="i-item song"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
    <div class="i-item bulb"><i class="fa fa-lightbulb-o" aria-hidden="true"></i><div class="score">0</div></div>
    <div class="stars">
      <div class="star1"><i class="fa fa-star-o" aria-hidden="true"></i></div>
      <div class="star2"><i class="fa fa-star-o" aria-hidden="true"></i></div>
      <div class="star3"><i class="fa fa-star-o" aria-hidden="true"></i></div>
    </div>
    <div class="part">
      <div data-part="1" class="part1">Подлежащее</div>
      <div data-part="2" class="part2">Сказуемое</div>
      <div data-part="4" class="part3">Определение</div>
      <div data-part="5" class="part4">Дополнение</div>
      <div data-part="3" class="part5">Обстоятельство</div>
    </div>
  </div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src='js/webaudiox.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/CSSPlugin.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/easing/EasePack.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenLite.min.js'></script>



    <script  src="js/index.js"></script>




</body>

</html>
