<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>ELMsoftware</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Styles -->
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="index.html"><img src="img/logo.png" alt="Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#pricing" class="scroll">Pricing</a></li>
            <li><a href="#">Sign in</a></li> -->
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
          </div>
          <div class="col-xs-6 signin text-right navbar-nav">
            <input type="text" class="login" name="login" placeholder="Введи имя">
            <div class="id-text"></div>
            <!-- <a href="#pricing" class="scroll">Pricing</a>&nbsp; &nbsp;<a href="#">Sign in</a> -->
          </div>
        </div>

        <div class="row header-info">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <div class="text-for-analis wow fadeIn">
              <input type="text" name="text-for-analis" placeholder="Введи предложение">
              <div class="wright-text btn btn-secondary">Записать предложение</div>
            </div>
            <br />
            <input type="text" class="text2" name="text2" >
            <div class="wright-analis btn btn-secondary">Записать Анализ</div>
            <br />

          </div>
        </div>
      </div>
    </header>




    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="js/wow.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script  src="js/index.js"></script> -->
    </body>
</html>
