<!DOCTYPE html>
<html>
	<head>
		<title>Virtual War</title>

		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,minimal-ui" />

		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bundle.js"></script>

		<style>
			*{margin: 0;padding: 0;}
			body,html{height:100%;}
			body{background-color:black;width:100%;}
			#table{display:table;width:100%;height:100%;}
			#cell{display:table-cell;vertical-align: middle}
			#canvascontainer{margin: auto;outline: 1px solid white;}
			#game{width: 100%;height:100%;display:block}
		</style>
	</head>

	<body>
		<div id="table">
			<div id="cell">
				<div id="canvascontainer">
					<canvas id="game"></canvas>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
if (localStorage.getItem('best') == null) {
	localStorage.setItem('best', '0');
}
</script>
